Importar o Dataset e selcionar as colunas que serão usadas.

In [1]:
import pandas as pd

melbourne_file_path = '/home/bruno/Documents/Python/100DaysChallenge/python/input/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Verificar os nomes das colunas

## Imprime a lista de colunas do dataset

In [2]:
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

## Carregar na variável y os dados da coluna salesprice

In [3]:
y = melbourne_data.Price

## Escolhendo lista de colunas ou atributos de um data set

In [4]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

## Criar uma lista de atributos em X, que é o novo dataset (filtrado)

In [5]:
X = melbourne_data[melbourne_features]

## Resumo do data set

In [6]:
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  18396.000000  14925.000000   13603.000000  15064.000000  15064.000000
mean       2.935040      1.538492     558.116371    -37.809849    144.996338
std        0.958202      0.689311    3987.326586      0.081152      0.106375
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     176.500000    -37.858100    144.931193
50%        3.000000      1.000000     440.000000    -37.803625    145.000920
75%        3.000000      2.000000     651.000000    -37.756270    145.060000
max       12.000000      8.000000  433014.000000    -37.408530    145.526350

## Pega as primeiras linhas do DataSet

In [7]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

## Criando seu modelo

Utiliza-se a biblioteca scikit-learn para criar modelos. Essa biblioteca é escrita como sklearn. É a mais popular para modelar os tipos de dados armazenados em DataFrames.

Os passos para construir e usar um modelo são:
* Definir: Que tipo de modelo será? Uma árvore de decisão? Outro tipo de modelo? Alguns parâmetros do modelos também säo especificados. 
* Modelar: Capturar padrões dos dados. Este será o coração do modelo.
* Predizer: Autoexplicativo.
* Avaliar: Determinar o quão acurado é o modelo de predição.

In [8]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

Muitos modelos de ML permitem alguma aleatoriaedade nos modelos de treino. Especificando um número para o random_state, garante que terá o mesmo resultado em cada rodada e isto é considerado uma  boa prática. Pode usar qualquer valor e a qualidade do modelo náo dependerá significantemente do valor exato escolhido. 
Agora existe um modelo apurado que pode ser usado para fazer predições.

## Fazendo predições

Na prática, queremos fazer predições para novas casas, que virão ao mercado, ao invés das casas que já temos o preço. Mas iremos fazer a predição das primeiras linhas dos dados de treino para ver o quanto essa função funciona.

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))